PORT=5000
MONGODB_URI=mongdburi
REDIS_PASS=redispassword
REDIS_HOST=redishost
REDIS_PORT=redisport
ALLOWED_ORIGINS=allowedorigins
ACCESS_TOKEN_SECRET=accesstokensecret
ACCESS_TOKEN_EXPIRY=accesstokenexpiry
REFRESH_TOKEN_SECRET=refreshtokensecret
REFRESH_TOKEN_EXPIRY=refreshtokenexpiry
REFRESH_TOKEN_EXPIRY_MS=refreshtokenexpirymilliseconds
ACCESS_TOKEN_EXPIRY_MS=accesstokenexpirymilliseconds
FRONTEND_URL=http://localhost:3000
EMAIL_CLIENT_ID=clientid
EMAIL_CLIENT_SECRET=clientsecret
EMAIL_REFRESH_TOKEN=refreshtokensecret
EMAIL_USER=emailuser
IMAGEKIT_PRIVATE_KEY=imagekitprivatekey
SERVER_URL=http://localhost:5000
JUDGE0_URL=judge0url